@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	background-image: url('../images/Alex_Grey-Jewel_Being.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

p {
margin: 0%;
}

#full {
    overflow: auto;
    clear: both;
    color: #4B0082;
    font-size: 38px;
    background: #ffffff;
    height: 400px;
    min-height: 100%;
    margin-bottom: -50px;
    flex: 1 0 auto;
}

img {
	/* padding:1px;
	border: 1px solid #021a40; */
	background-color: white;
	z-index: 1;
	float: left;
  width: 250px;
  margin: 10px;
 }

h1 {
	background: #4B0082;
	left: 120px;
}

h2 {
	left: 30px;
	line-height: 2.2
}

a, button {
	outline: none;
}

a {
	text-decoration: none;
}

.container > header {
	margin: 0 auto;
	padding: 3.5em;
	text-align: center;
	background: white;
	height: 112px;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.45;
	margin: -8px;
	font-weight: 300;
	float: left;
	margin-top: -56px;
	width: 275px;
	height: 112.4px;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}

.card-header {
	color: #4B0082;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 35px;
	left: 25px;
}

.card-text {
	color: #777;
}

.card-body {
	border-radius: 10px;
	padding: 7px;
}

.container_1 {
width: 100%;
}

.footer {
	background: #666666;
	height: 50px;
	/* vertical-align: bottom; */
	text-align: center;
	font-size: 15px;
	line-height: 52px;
	color: #777777;
	/* left: 0; */
	/* bottom: 0; */
	/* margin-top: auto; */
	border-top: solid 5px #4B0082;
  }
/* To Navigation Style */
.codrops-top {
	background: #f06060;
	background: rgba(255, 255, 255, 0.1);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #fff;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #777;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #fff;
	color: #fff;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	opacity: 0.6;
}

.container > section {
	padding: 2em;
	font-size: 1.4em;
	max-width: 50em;
	margin: 0 auto;
}

.container > section p {
	/* padding: 0.8em 0; */
	text-align: justify;
	text-justify: auto;
	font-weight: 300;
	line-height: 1.4;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}