
:root {
  --gutter: 20px;
}

.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
  overflow: hidden
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
  grid-template-rows: minmax(150px, 1fr);
  overflow-x: scroll;
  /* overflow: hidden; */
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

/* Demo styles */

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;

}

body {
  display: grid;
  place-items: center;
  background: #C2C8D3;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
font-size: 60px;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  width: 1000px;
  float: right;
}

.bottom {
  height: 40px;
  font-size: 21px;
}
.container {
  height: auto;
}
.foot {
  position: relative;
  display: inline-block;
  left: 82px;
  width: 570px;
}

.sub {
  position: relative;
  display: inline-block;
  left: 66px;
  width: 200px;
}

.app {
  width: 960px;
  height: 525px;
  background: #E0DBE6;
  overflow-y: scroll;
}

.across {
  width: 1100px;
  height: 110px;
}

a:link {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #000
}
a:hover { 
  color: indigo;
  text-decoration: none; 
        }
a:active {
  color: white;
}

span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #999;
  border-radius: 8px;
}

.hs { 
  list-style: none; 
  text-align: center;
  }

.hs li { 
  position: relative;
  margin-right: 7px;
  margin-bottom: 14px;
  margin-top: 15px;
  font-size: 20px;
  }

img {
    width: 100%;
    height: 80%;
    margin-top: 15px;
  }

.hs li img { 
    float: left;
    cursor: pointer;
    opacity: 0.5;
    
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

.hs li:hover img { 
    opacity: 1.0
  }
  
.hs li > .meta {
    line-height: 1.7; 
    float: left;
    overflow: hidden;
    position: initial;
    z-index: 9999;
    left: 125px;
    height: 85px;
    width: 0;
    font-family: ;
    font-size: .9em;
    background: #fff;
    
    -webkit-box-shadow: 1px 0px 4px #8f8e88;
    -moz-box-shadow: 1px 0px 4px #8f8e88;
    -o-box-shadow: 1px 0px 4px #8f8e88;
    box-shadow: 1px 0px 4px #8f8e88;
  
    
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
    
    -webkit-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    -ms-transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    transition: width 0.3s linear;
  }
  
  .hs li:hover > .meta {
    width: 115px;
    padding: 3px 5px;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
  
  
  .hs li .meta h4 { font-weight: bold; margin-bottom: 11px; font-size: 20px; padding-top: 8px; color: #363636; }
  .hs li .meta span { display: block; margin-bottom: 5px; }

/* Screen Resize from 768 - . */
@media screen and (min-width: 769px) and (max-width: 1089px) {

  .across {
    width: 85%;
    height: 85%;
  }

    .app {
      width: 90%;
      height: 90%;
      background: #E0DBE6;
      overflow-y: scroll;
    }
  
    h3 {
      height: 25px;
      width: 810px;
    }
  
    img 
    {
      width: 80%;
      height: 80%;
    }
  
    .hs {
      display: grid;
      grid-gap: calc(var(--gutter) / 2);
      grid-template-columns: repeat(6, calc(80% - var(--gutter) * 2));
      grid-template-rows: minmax(150px, 1fr);
      
      overflow-x: scroll;
      scroll-snap-type: x proximity;
      padding-bottom: calc(.75 * var(--gutter));
      margin-bottom: calc(-.25 * var(--gutter));
    }
  }
/* Screen Resize from 641px - 768. */
@media screen and (min-width: 641px) and (max-width: 768px) {

.across {
  width: 680px;
}
  .app {
    width: 90%;
    height: 80%;
    background: #E0DBE6;
    overflow-y: scroll;
  }

  h3 {
    height: 25px;
  }

  img 
  {
    width: 80%;
    height: 80%;
  }

  .hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(6, calc(80% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);
    
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
  }
}

/* Screen Resize 80px - 640px. */
@media screen and (min-width: 100px) and (max-width: 640px) {

  .across {
    width: 520px;
  }
    .app {
      width: 95%;
      height: 80%;
      background: #E0DBE6;
      overflow-y: scroll;
    }
  
    h3 {
      height: 15px;
    }
  
    img 
    {
      width: 70%;
      height: 70%;
    }
  
    .hs {
      display: grid;
      grid-gap: calc(var(--gutter) / 2);
      grid-template-columns: repeat(6, calc(80% - var(--gutter) * 2));
      grid-template-rows: minmax(150px, 1fr);
      
      overflow-x: scroll;
      scroll-snap-type: x proximity;
      padding-bottom: calc(.75 * var(--gutter));
      margin-bottom: calc(-.25 * var(--gutter));
    }
  }